<h1>
  {{title}}
</h1>

<p>
  This is a demo for Log4ng. Open up the console, after initialisation it will
</p>

<ul>
  <li>Log a message of type LOG</li>
  <li>Log a message of type DEBUG</li>
  <li>Log a message of type INFO</li>
  <li>Log a message of type WARN</li>
  <li>Log a message of type ERROR</li>
  <li>Throw an error</li>
</ul>

<hr>

<h2>Manual Actions</h2>

<button type="button" name="button" (click)="log('Manual LOG message')">Log Message</button>
<button type="button" name="button" (click)="debug('Manual DEBUG message')">Debug Message</button>
<button type="button" name="button" (click)="info('Manual INFO message')">Info Message</button>
<button type="button" name="button" (click)="warn('Manual WARN message')">Warn Message</button>
<button type="button" name="button" (click)="error('Manual ERROR message')">Error Message</button>
<button type="button" name="button" (click)="fail('Manual thrown error')">Throw error</button>
